//! **************************************************************************
// Written by: Map O.87xd on Sun Apr 22 18:54:41 2018
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

